<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Marketing Digital - DMD</title>
  <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
  <script src="{{ url_for('static', filename='JS/seleccionar.js') }}"></script>
  <link href="{{ url_for('static', filename='CSS/styles.css') }}" rel="stylesheet" />
  <link rel="icon" href="{{ url_for('static', filename='IMG/Logo2.ico') }}" type="image/x-icon">
  <script src="{{url_for('static', filename='JS/icons.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/lucide@latest/dist/umd/lucide.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
</head>

<body>

  <header class="encabezado">
    <img src="{{ url_for('static', filename='IMG/Logo.png') }}" alt="logo_dmd" class="logo">
    <div class="subencabezado">
      <h1 class="titulo">Marketing Digital</h1>
      <p class="parrafo">Gestiona clientes, envía mensajes, agrega contactos y gestionarlos de manera rápida y
        eficiente.</p>
    </div>
  </header>

  <main class="contenido">
    <section class="seccion">
      <div class="contenido-seccion seleccionar-clientes">
        <div class="encabezado-caja">
          <h3 class="subtitulo">Lista de Clientes:</h3>
        </div>
        <div class="contenido-caja left">
          <form class="formularios" method="POST" id="formulario-correos" enctype="multipart/form-data"
            action="{{ url_for('correo.enviar_correos_route') }}">
            <label>
              <input type="checkbox" id="seleccionar-todo"> Seleccionar todo
            </label>

            <div class="clientes">
              <ul class="lista-clientes">
                {% for cliente in clientes %}
                <li>
                  <input type="checkbox" name="clientes" value="{{ cliente.correo }}" class="checkbox-cliente" />
                  {{ cliente.nombre }}: {{ cliente.correo }}
                  <button class="btn-editar" type="button" data-nombre="{{ cliente.nombre }}"
                    data-correo="{{ cliente.correo }}">
                    <i class="icono" data-lucide="pencil"></i>
                  </button>
                  <button type="button" class="btn-eliminar" data-nombre="{{ cliente.nombre }}"
                    data-correo="{{ cliente.correo }}">
                    <i class="icono" data-lucide="trash"></i>
                  </button>
                </li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </div>

      <div class="contenido-seccion enviar-mensaje">
        <div class="encabezado-caja">
          <h3 class="subtitulo">Enviar un mensaje:</h3>
        </div>
        <div class="contenido-caja">

          <div class="input-container">
            <input placeholder="Escriba el asunto acá..." class="campo-texto" type="text" name="asunto" id="asunto"
              required />
            <textarea placeholder="Escriba su mensaje acá..." class="campo-texto" name="mensaje" id="mensaje" rows="4"
              cols="50" required></textarea><br /><br />
            <div class="file-input-container">
              <span id="file-name-image" style="display:none;">Ningún archivo seleccionado</span>
              <input type="file" name="imagen" id="imagen" accept="image/*" class="input-files" />
              <label for="imagen" class="file-upload-label">
                <i data-lucide="paperclip"></i>
              </label>
              <button class="btn enviar" type="submit">
                <i data-lucide="send"></i>
              </button>
            </div>


          </div>

          </form>
        </div>
      </div>
    </section>

    <section class="seccion">
      <div class="contenido-seccion agregar-cliente">
        <div class="encabezado-caja">
          <h3 class="subtitulo">Agregar un cliente</h3>
        </div>
        <div class="contenido-caja">
          <p></p>
          <form class="formularios" method="POST" action="{{ url_for('clientes.agregar_cliente') }}">
            <label for="nombre">Nombre del cliente</label><br><br>
            <input placeholder="Nombre del cliente" class="campo-texto" type="text" name="nombre" id="nombre"
              required /><br>

            <label for="correo">Dirección de correo</label><br><br>
            <input placeholder="Correo@gmail.com" class="campo-texto" type="email" name="correo" id="correo"
              required /><br><br>

            <button type="submit" class="btn">Agregar Cliente</button>
          </form>
        </div>
      </div>

      <div class="contenido-seccion">
        <div class="encabezado-caja">
          <h3 class="subtitulo">Importar desde Excel</h3>
        </div>
        <div class="contenido-caja">
          <form class="formularios" id="form-cargar-excel" method="POST"
            action="{{ url_for('excel.agregar_clientes_excel') }}" enctype="multipart/form-data">
            <label for="archivo">Cargar archivo Excel</label><br><br>
            <label class="file-upload-label excel" for="archivo">
              <i data-lucide="import"></i>
            </label>

            <input class="input-files" type="file" name="archivo" id="archivo" accept=".xlsx,.xls" required><br>
            <span id="file-name" style="display:none;">Ningún archivo seleccionado</span>
            <br><br>

            <label for="columna_nombre">Selecciona la columna de nombres</label><br><br>

            <select id="columna_nombre" name="columna_nombre" required></select><br><br>

            <label for="columna_email">Selecciona la columna de correos electrónicos</label><br><br>
            <select id="columna_email" name="columna_email" required></select><br><br>

            <button type="submit" class="btn">Agregar Clientes</button>
          </form>
        </div>

      </div>
    </section>
    <div id="editModal" class="modal">
      <div class="modal-content">

        <h2 class="modal-titulo">Editar Cliente</h2>
        <form id="form-edit-client">
          <input type="text" id="cliente-nombre-edit" name="nombre" required>
          <input type="email" id="correo-cliente-edit" name="correo" required>
          <input type="hidden" id="correo-cliente-hidden-edit" name="correo-hidden">
          <div class="btn-modal">
            <button type="submit">Editar</button>
            <button type="button" id="cancelar-editar">Cancelar</button>
          </div>
        </form>
      </div>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <h2 class="modal-titulo">Eliminar Cliente</h2>
        <form id="form-eliminar-cliente">
          <input type="text" id="cliente-nombre" name="nombre" required>
          <input type="email" id="correo-cliente" name="correo" required>
          <input type="hidden" id="correo-cliente-hidden" name="correo-hidden">

          <div class="btn-modal">
            <button type="submit">Eliminar</button>
            <button type="button" id="cancelar-eliminar">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    
  </main>

  <script src="{{ url_for('static', filename='JS/excel.js') }}"></script>
  <script src="{{ url_for('static', filename='JS/modal.js') }}"></script>
  <script src="{{ url_for('static', filename='JS/Input.js') }}"></script>
</body>

</html>